* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#lesson {
    text-align:center;
    font-size:xx-large;
    justify-content:center;
    align-items: center;
}

#lesson-text {
    font-size: xxx-large;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: 30vw;
    justify-content:right;
    align-items: right;
}

#input-field {
    font-size:xxx-large;
    width:60vw;
    text-align:right;
    height:30vh;
}