* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Tags */

body {
    font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #BAEEF3;
}


/* Classes */

.blank-content-container {
    max-width: 17vw;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-form-container {
    border: 1px solid black;
    background-color: white;
    color: red;
}

.contact-info-container {
    display: flex;
    justify-content: space-evenly;
}

.content-container {
    font-size: xx-large;
    text-align: center;
    margin-bottom: 10vh;
    margin-right: 15vh;
    margin-left: 15vh;
    padding-top: 4vh;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
}

.copyright-date-container {}

.email-phone-container {
    justify-content: center;
}

.github-container {}

.github-logo {
    max-width: 3vw;
    padding-bottom: 10vh
}

.logo-container {
    display: flex;
}

.main-container {
    justify-content: center;
}

.menu-icon {
    max-width: 2vw;
}

.nav-entry {
    margin: 1vh;
}

.navbar-container {
    background-color: #F0BDB5;
    text-align: left;
    border-right: .5em solid #F59EA4;
    border-top: .5em solid #F59EA4;
    border-bottom: .5em solid #F59EA4;
    font-size: x-large;
    max-width: 17vw;
    align-items: stretch;
}

.site-logo {
    max-width: 4vw;
    align-items: center;
}

.site-name-container {
    margin-top: 0.5vh;
    margin-left: 1vh;
}

.site-name-description {
    color: #808080;
}


/* Rows */

.header-row {
    justify-content: space-between;
    display: flex;
    margin: 4vh 4vh 4vh 4vh;
    height: 3vh;
}

.content-row {
    justify-content: flex-start;
    display: flex;
    height: 80vh;
    align-items: center;
}

.footer-row {
    justify-content: space-between;
    display: flex;
    margin: 2vh;
}