* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Tags */

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #C9EDCC;
}


/* Classes */

.content-container {
    font-size: xx-large;
    text-align: center;
}

.copyright-date-container {}

.github-container {}

.logo-container {}

.main-container {
    justify-content: center;
}

.navbar-container {
    text-align: left;
    border-right: .5em solid #F59EA4;
    border-top: .5em solid #F59EA4;
    border-bottom: .5em solid #F59EA4;
}


/* Rows */

.header-row {
    justify-content: space-around;
    display: flex;
}

.content-row {
    justify-content: flex-start;
    display: flex;
}

.footer-row {
    justify-content: right;
    display: flex;
}