body {
    background-color: rgba(245, 175, 12, 96);
    color: #112DA8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(17, 45, 168, 66);
    text-align: center;
    border: 4mm ridge #F5004E;
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-family: verdana;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

a {
    color: rgba(17, 45, 168, 66);
}

ul {
    list-style-type: square;
    font-size: 20px;
}

address {
    border: thick double black;
}

nav {
    border: thick double #32a1ce;
}