* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #F5AF0C;
    color: #112DA8;
    margin: 0px 0px;
    padding: 0px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: rgba(17, 45, 168, 66);
    text-align: center;
    border: 4mm ridge #F5004E;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 50px;
    padding: 10px 50px;
}

p {
    font-family: verdana;
    font-size: 20px;
    padding: 10px;
    margin: 20px 50px;
}

a {
    color: rgba(17, 45, 168, 66);
}

ul {
    list-style-type: square;
    font-size: 20px;
    padding: 10px;
    margin: 20px 50px;
}

address {
    font-style: italic;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #F5004E;
}


/* classes */

.header {
    font-family: 'Century Gothic', 'Effra', 'Quasimoda';
    font-size: x-large;
    color: #F5004E;
    margin: 0px 0px;
    padding: 0px 0px;
}

.menu {
    height: 100px;
    background-color: #B2D6FF;
    /* Medium blue */
}

.sidebar {
    height: 300px;
    background-color: #F09A9D;
    /* Red */
}

.content {
    height: 500px;
    background-color: #F5CF8E;
    /* Yellow */
}

.footer {
    height: 200px;
    background-color: #D6E9FE;
    /* Light blue */
}

.test {
    padding: 20px;
    text-align: center;
    width: 100%;
    margin: 20px auto;
}

.nav-entry {
    display: inline;
    padding: 8px;
}

.ad {
    background-color: white;
    width: 200px;
    height: 400px;
}


/* IDS */

#title {
    border-left: solid 10px #112DA8;
    border-right: none;
    border-top: none;
    border-bottom: none;
    color: #112DA8;
    background-color: #F5004E;
    margin: 0px 0px;
    padding: 0px 0px;
}

li a:hover {
    color: #F5004E;
}