<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div id="root">
            <!-- data binding using the v-model directive -->
            <input type="text" v-model="message">
            <!-- template using mustache syntax -->
            <p>The value of the input is: {{ message }}.</p>
            <p>Screaming: {{ screaming }}</p>

            <ul>
                <!--Loop through array -->
                <li v-for="name in names" v-text="name">{{ name }}</li>
            </ul>
            <input type="text" v-model="newName">
            <button @click="addName">Add Name</button>
            <button v-on:click="logNames">Log names</button>
            <p>This next button is binded (bound)</p>
            <p>You can use : instead of v-bind:</p>
            <button :title="title">Hover over me</button>
            <p>Tasks</p>
            <li v-for="task in tasks" v-text="task.description"></li>
            <p>Uncompleted</p>
            <li v-for="task in uncompletedTasks" v-text="task.description"></li>
        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../lab3/indexscript.js"></script>
    </script>
</html>